<%- include("templates/header") %>

<div class="container">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body">
          <form action="/addempleado" method="POST">
            <h1 class="text-primary ">Empleado</h1>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="codigoempleado">Codigo</label>
                <input type="text" class="form-control" id="codigoempleado" name="codigoempleado" placeholder="Codigo" required>
              </div>
              <div class="form-group col-md-4">
                <label for="dpiempleado">DPI</label>
                <input type="number" class="form-control" id="dpiempleado" name="dpiempleado" placeholder="DPI" required>
              </div>
              <div class="form-group col-md-4">
                <label for="nitempleado">NIT</label>
                <input type="number" class="form-control" id="nitempleado" name="nitempleado" placeholder="NIT">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="nombreempleado">Nombre</label>
                <input type="text" class="form-control" id="nombreempleado" name="nombreempleado" placeholder="Nombre" required>
              </div>
              <div class="form-group col-md-6">
                <label for="apellidoempleado">Apellido</label>
                <input type="text" class="form-control" id="apellidoempleado" name="apellidoempleado" placeholder="Apellido" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="direccionempleado">Dirección</label>
                <input type="text" class="form-control" id="direccionempleado" name="direccionempleado" placeholder="Dirección" required>
              </div>
              <div class="form-group col-md-3">
                <label for="profesionempleado">Profesion</label>
                <input type="text" class="form-control" id="profesionempleado" name="profesionempleado" placeholder="Profesion"  required>
              </div>
              <div class="form-group col-md-3">
                <label for="sueldoempleado">Sueldo</label>
                <input type="number" class="form-control" id="sueldoempleado" name="sueldoempleado" placeholder="Sueldo" step="0.01" required>
              </div>

            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="correoempleado">Correo Electronico</label>
                <input type="email" class="form-control" id="correoempleado" name="correoempleado" placeholder="Email" required>
              </div>
              <div class="form-group col-md-4">
                <label for="telefonoempleado">Teléfono</label>
                <input type="tel" class="form-control" id="telefonoempleado" name="telefonoempleado" placeholder="Telefono">
              </div>
              <div class="form-group col-md-2">
                <label for="estadoempleado">Estado</label>
                <select id="estadoempleado" name="estadoempleado" class="form-control" required>
                  <option value="true">Activo</option>
                  <option value="false">Inactivo</option>
                </select>
              </div>

            </div>

            <button type="submit" class="btn btn-success">Agregar</button>
           </form>

        </div>
        <div class="form-group p-3">
          <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">DPI</th>
              <th scope="col">NIT</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Dirección</th>
              <th scope="col">Profesión</th>
              <th scope="col">Sueldo</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i =0; i<listaempleados.length; i++){%>
              <tr>
                <th scope="row"><%=listaempleados[i].codigoempleado%></th>
                <td><%=listaempleados[i].dpiempleado%></td>
                <td><%=listaempleados[i].nitempleado%></td>
                <td><%=listaempleados[i].nombreempleado%></td>
                <td><%=listaempleados[i].apellidoempleado%></td>
                <td><%=listaempleados[i].direccionempleado%></td>
                <td><%=listaempleados[i].profesionempleado%></td>
                <td><%=listaempleados[i].sueldoempleado%></td>
                <td><%=listaempleados[i].estadoempleado ? 'Activo':'Inactivo'%></td>
                <td>
                  <a href="/editempleado/<%=listaempleados[i]._id%>" class="btn btn-info">Editar</a>
                  <a href="/deleteempleado/<%=listaempleados[i]._id%>" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>

            <%}%>


          </tbody>
        </table>

        </div>

      </div>

  </div>




<%- include("templates/footer") %>
